@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


.totals-contain {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  font-size: .8rem;
}

.add-transaction-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
}

input {
  border: 1px solid gray;
  background-color: rgb(231, 231, 231);
  margin: 10px;
}

.input-contain {
  margin: 10px 0px;
}

label {
  font-weight: bold;
}

.addSpendingTagsForm {
  width: 100%;
  background-color: rgb(145, 220, 255);
  border: 2px solid rgb(12, 49, 66);
  padding: 10px;
  margin: 30px 0px;
}

.tagName-contain {
  padding: 10px 0px;
  font-size: .8rem;
  font-weight: bold;
  color: rgb(196, 35, 35);
  display: flex;
  width: 100%;
}

.spendingTagElement {
  display: inline-block;
  margin: 0px 5px;
}

.spendinTagTrash {
  background-color: rgb(255, 145, 0);
  color: rgb(14, 49, 49);
  padding: 2px 10px;
}

.addTagsToTransaction {
  font-size: 1.3em;
  color:rgb(12, 49, 66);
  border: 2px solid rgb(12, 49, 66);
  padding: 5px;
  margin: 20px 0px 0px;
}

.btn-addTagsToTransaction {
  border: none;
}